h1{
    text-align: center;
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.heading{
    margin-top: 5%;
    text-shadow: 1px;
    text-transform: uppercase;
    font-weight: bold;
}

.container{
    text-align: center;
    margin-top: 10%;
}
